* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(249, 249, 249, 1);
}

  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 84px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;
  }


  .navigation {
    display: flex;
    align-items: center;

  }

  .navigation img {
    margin-left: 30px;
    cursor: pointer;
    transition: 0.2s;
  }

  .navigation img:hover {
    transform: scale(1.1);
  }

  .navigation a {
    padding: 8px 32px;
    color: #262626;
    font-size: 14px;
    font-weight: 700;
    transition: 0.2s;
  }



  .navigation a:hover {
    border-radius: 40px;
    background-color: rgba(76, 224, 215, 1);
    transform: scale(1.1);
  }




/* firs section */

  .first-section {
    background-image: url(./Photos/background.png);
    background-repeat: no-repeat;
    height: 560px;
    background-size: cover;
    max-width: 1272px;
    width: 100%;
    background-position: center;
    margin: 0 auto;
    padding-left: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px 19px;
  }
  
  
  .first-section span {
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
.first-section h4 {
  font-size: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.first-section h2 {
  font-size: 46px;
  font-weight: 400;
  color: rgb(255, 255, 255, 1);
}

.first-section p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255, 1);
  max-width: 494px;
}


/* Second Section */

  .second-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 87.5px;
    margin-top: 73px;
  }

  .second-section-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .main-title-2 {
    margin-bottom: 48px;
    width: 282px;
    height: 36px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(38, 38, 38, 1);
  }
  
  .navigation-32 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 204px;
    height: 291px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.05);
    transition: 0.2s;
    cursor: pointer;
  
  }

  .navigation-32:hover {
    transform: translateY(-10px);
    
  }
  
  .img1 {
    display: flex;
    margin: 51px 58px 20px  58px;
    width: 88px;
    height: 88px;
  }
  
  .text-1 {
    width: 129px;
    height: 36px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0px 38px 29px 37px;
    text-align: center;
  
  }
  
  .linktg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(76, 224, 215, 1);
    height: 35.95px;
    border-radius: 40px;
    margin: 0px 29.9px 29.88px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: black;

  
  }
  
  .line {
    height: 1px;
    background-color: rgba(188, 188, 188, 1);
    margin-bottom: 52.5px;
    max-width: 1267px;
    width: 100%;
  }
  
  
  
  
  
  
  
  
  
  